*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.topbar{
  height: 60px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  

}
.debug{
  background-color: red;
  border: 1px solid black;
  width: 100%;
}
.flex{
  display: flex;
}
.container{
   margin: 0 auto;  
   width: 90%;  
   padding-top: 120px;
}

.first.container{
  max-width: 850px;
}
.second.container{
  max-width: 750px;
}
.margin{
  margin: 30px 0;
}
.btn{
 padding: 5px 15px;
}
.btn.blue{
  background-color: #0061ff ;
  color: white;
}
.bg-color{
  background-color: #b4d0e7;
}
.color-blue{
  color: #0061ff;
}
.color-gray{
  color: #d0d0d3;
}
.border-gray{
  border: 1px solid #d0d0d3;

}  
.padding{
    padding: 30px;
  }
/* Header */

.topbar-right nav ul{
  justify-content: flex-end;
}
.logo,.topbar li{
  margin: 0 20px 0 20px;
}
.topbar-left,.topbar-right{
  padding: 20px 0;
}
.logo img{
  height: 20px;
  vertical-align:middle;
}
li{
  list-style: none; 
}
a{
  text-decoration: none;
  color: black;
}

.jumbotron h1{
  font-size: 50px;
}
.jumbotron span{
  display: block;
}
#arrow{
  font-size: 30px;
  margin-bottom: 10px;
}
.jumbotron .image img{
  height: 300px;
}

/* main */
main span{
  margin: 40px;
}
main section h1{
  font-size: 30px;
}
.card{
  width: 35%
}
.card-header{
  border-bottom: 1px solid #d0d0d3;
  padding: 10px;
}


