*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.flex{
  display: flex;
}
.container{
   margin: 0 auto;  
   width: 90%;  
   padding-top: 120px;
}

.first.container{
  max-width: 12000px;
}
.second.container{
  max-width: 1000px;
}
.margin{
  margin: 30px 0;
}
.btn{
 padding: 5px 15px;
 display: inline-block;
}
.btn.blue{
  background-color: #0061ff ;
  color: white;
}
.btn.white{
  background-color: white ;
}
.btn:hover{
  opacity: 0.5;
}
.bg-color{
  background-color: #b4d0e7;
}
.color-blue{
  color: #0061ff;
}
.color-gray{
  color: #d0d0d3;
}
.color-dark-gray{
  color: darkgrey;
}
.bg-light-green{
  background-color: #a2d39b;
}
.bg-bordeaux{
  background-color: #61082b;
}
.bg-light-blue{
  background-color: #0093ce;
}
.bg-light-red{
  background-color: #ff1c1c;
}
.bg-red{
  background-color: #d5001f;
}
.bg-dark-blue{
  background-color: #0d2481;
}
.bg-yellow{
  background-color: #ffd830;
}
.border-bottom{
  border-bottom: 1px solid #d0d0d3;
  width: 30%;
}
.wrap{
  flex-wrap: wrap;
}
.card-header{
  text-align: center;
}

.padding{
    padding: 0 50px 50px 50px;
  }

/* Header */
.topbar{
  height: 60px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  background-color: white;
}
header li:hover{
border-bottom: 1px solid black;
height: 40px;
}
.topbar-right nav ul{
  justify-content: flex-end;
}
.logo,.topbar li{
  margin: 0 20px 0 20px;
}
.topbar-left,.topbar-right{
  padding: 20px 0;
}
.logo img{
  height: 20px;
  vertical-align:middle;
}
li{
  list-style: none; 
}
nav a, .botton a {
  text-decoration: none;
  color: black;
}

.jumbotron h1{
  font-size: 50px;
}
.jumbotron span{
  display: block;
}
.arrow{
  font-size: 30px;
  margin-bottom: 10px;
}
.jumbotron .image img{
  height: 300px;
}

/* main */
/* SECTION 1 */

.points span{
  margin: 40px;
}
main section h1{
  font-size: 30px;

}
main section h1, .card:last-child .botton{
  margin-top: 30px;  
  margin-bottom: 10px;
}
.space-between{
  justify-content: space-between;
  
}
.border-gray{
  border: 1px solid #d0d0d3;
  width: 30%;
}  
.card-header{
  border-bottom: 1px solid #d0d0d3;
  padding: 10px;

}
.card h4{
  padding: 50px 50px 20px 50px;
}

.text-card-main span:last-child{
  display: block;
  margin-top: 10px;
}

.list.second{
  padding:0 50px;
}
.list li{
 margin: 10px;
}
.list.second .fa-li{
  color: #0061ff;
}
.card-main:nth-child(2) .list.second{
  margin-bottom: 100px;
}
.card:last-child{
  margin-top: 50px;
}
.card:last-child .border-gray:last-child{
  width: 100%;
}
.card:last-child .card-main{
  justify-content: space-between;
}
.card:last-child .card-main h3{
  margin: 30px 0 80px 0;
  
}

/* SECTION 2 */

section:nth-child(2) img{
  height: 430px;
  margin-right: 50px;
}
section:nth-child(2) p{
  margin: 30px 0;
}
section:nth-child(2) .btn{
  border: 1px solid black;
}

/* SECTION 3 */

section:nth-child(3) .column{
  width: 30%;
  margin-top: 40px;
}

section:nth-child(3) .column img{
  height: 200px;
}

/* SECTION 4 */

section:nth-child(4) h1{
  margin: 80px 0 40px 0;
}

/* SECTION 5 */

section:nth-child(5) {
  margin-top: 100px;
}
.text-area,.square{
  width: 100%;
}
.square-content{
  width: 50%
}
.text-area{
  padding: 50px;
  font-size: 14px;
  background-color: #f0efef;
}
.text-area img{
  height: 80px;
  margin-bottom: 30px;
}
.text-area .text-content{
  overflow: auto;
}
.text-area .text-content p{
  margin:30px 0 50px 0 ;
}
.square-content{
  position: relative;
}
.square-content .image{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

}
.square-content img{
  height: 40px ;
  filter: invert(1);
}
.square:first-child .square-content:nth-child(2) img{
  height: 100px ;
}
.square:first-child .square-content:nth-child(3) img{
  height: 30px ;
}
.square:first-child .square-content:nth-child(4) img{
  height: 50px ;
}

.square:last-child .square-content:nth-child(2) img{
  height: 15px ;
}
.square:last-child .square-content:nth-child(3) img{
  height: 70px ;
}
.square:last-child .square-content:nth-child(4) img{
  height: 80px ;
}

/* SECTION 6 */

section:nth-child(6){
 padding-bottom: 120px;
}
section:nth-child(6) h1{
 color: #61082b;
}
section:nth-child(7){
  margin-bottom: 100px;
}
section:nth-child(7) h1{
 margin-bottom: 50px;
}
.row{
    padding: 30px 0;
}
.row:nth-child(even){
  border-top: 2px solid #d0d0d3;
  border-bottom: 2px solid #d0d0d3;
}

/* footer */
footer{
  background-color: black;
}
footer,footer .column a{
    color: white;
}
footer .column:first-child{
  border-bottom: 1px solid #d0d0d3;
}

footer li{
  margin: 30px 0 ;
}
footer li:last-child{
    margin-bottom:200px ;
}

